{% load utils additional_registration %}
{% load mathfilters %}

{# FIXME(generic_results_stage_2): Unify HTML style #}

{% show_competition_registration %}

<div class="table-responsive">
<table class="table table-hover table-condensed results-table">
<thead>
<tr>
    <th class="text-right result-header result-rank">#</th>
    <th class="result-header result-name">Meno:</th>
    <th class="result-header result-year">
        <abbr title="Ročník" data-toggle="tooltip" data-placement="top">R.</abbr>
    </th>
    <th class="result-header result-school">Škola</th>
    {% for col in table.cols %}
        {% if col.task %}
            {# @FIXME(css): Class `result-task` is used also for total and previous columns. Rename? #}
            <th class="result-header result-task">
                <a href="{% url 'task_statement' task_id=col.task.id %}" title="{{ col.task.name }}"
                   data-toggle="tooltip" data-placement="top">
                    {{ col.name }}
                </a>
            </th>
        {% else %}
            <th class="result-header result-task">
                <strong>{{ col.name }}</strong>
            </th>
        {% endif %}
    {% endfor %}
</tr>
</thead>

{% for row in table.rows %}
{% spaceless %}
{% if row.active or show_staff %}
<tr
    {% if user.id == row.user.id %}class="active"{% endif %}
    {# @FIXME(css): Hack until css`s are rewritten #}
    {% if not row.active %}style="opacity: 0.5"{% endif %}
>
    <td class="text-right result-rank">
    {% if row.rank %}
        {% ifchanged row.rank %}
            <strong>{{ row.rank }}. </strong>
        {% endifchanged %}
        {% if row.previous %}
            {% if not row.previous.rank %}
                <span class="text-info glyphicon glyphicon-asterisk"></span>
            {% elif row.rank < row.previous.rank %}
                <span class="text-success glyphicon glyphicon-chevron-up"
                      title="+{{ row.previous.rank|sub:row.rank }}"
                      data-toggle="tooltip" data-placement="top"></span>
            {% elif row.rank > row.previous.rank %}
                <span class="text-danger glyphicon glyphicon-chevron-down"
                      title="-{{ row.rank|sub:row.previous.rank }}"
                      data-toggle="tooltip" data-placement="top"></span>
            {% else %}
                <span class="text-muted glyphicon glyphicon-pushpin"></span>
            {% endif %}
        {% elif has_previous_rounds %}
            <span class="text-info glyphicon glyphicon-asterisk"></span>
        {% endif %}
    {% endif %}
    </td>
    <td class="result-name">{{ row.user.name }}</td>
    <td class="result-year">{{ row.user.year | school_year }}</td>
    <td class="result-school">
    {% if row.user.school %}
        <abbr title="{{ row.user.school.verbose_name }}" data-toggle="tooltip"
              data-placement="top">
            {{ row.user.school.name }}
        </abbr>
    {% else %}
        {{ row.user.school.name }}
    {% endif %}
    </td>
    {% for cell in row.cell_list %}
        <td class="result-task">
            <span
                data-toggle="tooltip"
                data-placement="top"
                {# @FIXME(css): Hack until css`s are rewritten #}
                {% if not cell.active %}
                    style="opacity: 0.5"
                {% endif %}
                {% if cell.manual_points != None and cell.auto_points != None %}
                  title="popis: {{ cell.manual_points }} testovanie: {{ cell.auto_points }}"
                {% endif %}
            >
                {{ cell.points }}
            </span>
        </td>
    {% endfor %}

</tr>
{% endif %}
{% endspaceless %}
{% empty %}
<tr><td colspan="{{ table.cols | length | add:4 }}">Žiadne submity</td></tr>
{% endfor %}

</table>
</div>
